html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.main-content__logo {
    margin-bottom: 50px;
}

.main-content__links {
    margin-bottom: 50px;
}

.main-content__link:not(:last-child) {
    margin-right: 25px;
}

.main-content__link {
    display: inline-block;
    padding: 24px 49px;
    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
}

.main-content__download-link {
    font-weight: 700;
    font-size: 18px;
    color: #3f2aff;
    background-image: url("../img/download.png");
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.article-header {
    padding: 0;
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}

.paragraph {
    padding: 0;
    margin: 0 0 40px 0;
    width: 872px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
}

.blue-background {
    border-radius: 20px;
    padding: 50px 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    background-color: #3f2aff;
}

.gray-block {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-position: right center;
    background-repeat: no-repeat;
}

.content-background {
    background-image: url("../img/decorate-1.png");
}

.resume-background {
    background-image: url("../img/decorate-2.png");
}

.gray-block:not(:last-child) {
    margin-bottom: 40px;
}

.gray-block p {
    width: 692px;
    margin-bottom: 10px;
}

.h2-header {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.h3-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

.content-list {
    padding: 0 0 0 15px;
    margin: 0;
}

.content-list__item-link {
    border-bottom: 1px solid #3f2aff;
    font-size: 20px;
    color: #3f2aff;
}

.content-list__item::marker {
    color: #3f2aff;
}

.content-list__item:not(:last-child) {
    padding: 0 0 20px 0;
    margin: 0;
}

.no-description-img {
    margin-bottom: 40px;
}

.image-block {
    padding: 0;
    margin: 0 0 40px 0;
    display: inline-block;
    width: 872px;
    font-size: 0;
}

.image-block figcaption {
    border: 1px solid #b6b6b6;
    border-top: 0;
    padding: 19px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}